body.blog #wrap{
    background: white;
}

body.blog #headline{
  background: #101010;
  color: white;
}

.blog-post a{
  color: #d32f2f;
}

.blog-post a:hover{
  color: #101010;
  }

  #nav-wrap h1{
    font-size:30px; 
    letter-spacing:0;
    line-height: 35px;
    text-align: right;
  }

  header.sticky #nav-wrap h1{
    line-height: 50px;
    font-size: 25px;
  }

  header.sticky #nav-wrap{
    padding-right: 25% !important;
  }

  @media only screen and (max-width: 479px){
    .container {
        width:90%;
    }
  }

  @media only screen and (max-width: 959px){
    #header{
      margin-top:10px;
      height: auto !important;
      padding:10px !important;
    }
    #nav-wrap{
      display: block;
      clear: both;
      float: none;
      text-align: left;
      width:100%;
      padding:10px;
    }
    #nav-wrap #menu-icon{
      display: none !important;
    }
    #nav-wrap h1{
      text-align: left;
      line-height: 1.1em;
      font-size: 1.5em;
      font-weight: bold;
      text-align: center;
      font-weight: 500;
      color: #d32f2f;
      margin-top: 0.5em;
      background: #efefef;
      padding: 0.5em;
    }
    #headline{
      margin-top: 25px;
    }
  }

ul, ol{margin-left: 25px;}

li{
  color: #DE6C6C;
  font-size: 1.1em;
  line-height: 1.5em;
}

#wrap p img, #wrap li img{
  border:1px solid #ccc;
  display: block;
  margin:1em 0;
}

@media(min-width: 767px){
  .article-block-right h3{font-size: 22px; line-height: 22px;}
  .article-block-right div.summary p{font-size: 15px; max-height: 160px; overflow: hidden;}
  .article-block-right .blog-date{padding-top:10px; padding-bottom: 10px !important}
}

article[data-tags~="release"]{
  background: lightgoldenrodyellow;
  border:1px solid rgba(200, 0, 0, 0.3);
  border-top-width: 5px;
  padding:1em;
}

article[data-tags~="how-to"]{
  /*background: lightgoldenrodyellow;*/
}