<article class="blog-post blog-snippet" data-tags="{% include 'article_tags_blog_class.html' %}">
   <div class="col-md-11 omega">
      {% include 'meta.html' %}

   {% if article.image %}
	<div class='article-image thumbnail'>
      <a href="{{ SITEURL }}{{ article.url }}" title="{{ article.title }}">
         <img src="{{ article.image }}" alt="{{ article.title }}" class="Full " style="padding:0"/>
      </a>
	</div>
   {% endif %}

      <h3>
         <a href="{{ SITEURL }}{{ article.url }}" rel="bookmark" 
            title="{{SITENAME}} - {{ article.title|striptags }}">
            {{ article.title }}
         </a>
      </h3>
      <div class="summary" >
   	  {% if article.summary and article.summary|length > 0 %}
   	      {{ article.summary }}
   	  {% else %}
   			<p>{{ article.content|striptags|truncate(400, True) }}</p>
   	  {% endif %}
         <a class="readmore" href="{{ SITEURL }}/{{ article.url }}">Read More</a>
      </div>
      <!-- <a class="readmore" href="{{ SITEURL }}/{{ article.url }}">Read More</a> -->
   </div>
   <hr class="vertical-space1">
</article>
