{% extends "base.html" %}

{% block title %}{{ SITENAME_SHORT }} - {{ article.title }}{% endblock %}

{% block socialgraph %}
    <meta name="application-name" content="Picovico" />
    <meta property="fb:app_id" content="150333628356928" />
    <meta name="application-url" content="" />
    <meta property="og:site_name" content="Picovico Blog"/>
    <meta property="og:title" content="{{ article.title|striptags }}" />
    <meta property="og:description" content="{% if article.summary|length > 0 %}{{article.summary}}{% else %}{{ article.content|striptags|truncate(100, True) }}{% endif %}"/>
    
    {% if article.image %}
    <meta property="og:image" content="{{ article.image }}" />
    <meta name="twitter:image" value="{{ article.image }}" />
    <link rel="image_src" href="{{ article.image }}" />
    {% else %}
    <meta property="og:image" content="{{ SITEURL }}/theme/images/logo.png" />
    <meta name="twitter:image" value="{{ article.image }}" />
    <link rel="image_src" href="{{ SITEURL }}/theme/images/logo.png" />
    {% endif %}

    <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}"/>
    <meta property="fb:admins" content="515324669"/>
  
    <meta name="twitter:site" value="@picovico" />
    <meta name="twitter:url" value="{{ SITEURL }}/{{ article.url }}"/>
    <meta name="twitter:title" value="{{ article.title|striptags }}" />
    <meta name="twitter:description" value="{% if article.summary|length > 0 %}{{article.summary}}{% else %}{{ article.content|striptags|truncate(100, True) }}{% endif %}" />
{% endblock %}


{% block content %}    
<article class="blog-post">

<!-- add this -->
        <div class="addthis_sharing_toolbox"></div>

            <!-- <img src="{{ SITEURL }}/theme/images/blog/blog-item01.jpg" alt="{{ article.title|striptags }}" class="Full " /> -->
            <div class="col-md-11 omega">
               {% include 'meta.html' %}
               <h3><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="{{SITENAME}} - {{ article.title|striptags }}">{{ article.title }}</a></h3>
               {{article.content}}
            </div>
            <hr class="vertical-space1">
         </article>

        {% if DISQUS_SITENAME %}
        <div class="comments">
        <h2>Comments</h2>
            <div id="disqus_thread"></div>
            <script type="text/javascript">
               var disqus_identifier = "{{ article.url }}";
               var disqus_url = "{{SITEURL}}/{{ article.url }}";
               (function() {
               var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
               dsq.src = 'http://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
               (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
            </script>
        </div>
        {% endif %}

{% endblock %}
