<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="{{ DEFAULT_LANG }}">
<!--<![endif]-->
<head>
   
   <!-- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
   <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
   <meta name="description" content="{% block site_description %}{% endblock %}">
   <meta name="author" content="{{ SITE_AUTHOR }}">
   
   <!-- Mobile Specific Metas
   ================================================== -->
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   
   <!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" type="text/css"  media="all">
   <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,400italic,400,300,600,700,900|Varela|Arapey:400,400italic' rel="stylesheet" type='text/css' >

   <!-- JS
   ================================================== -->
   <script src="{{ static_url }}/theme/js/jquery.min.js" type="text/javascript"></script>
   <script src=".{{ SITEURL }}/theme/layerslider/js/greensock.js" type="text/javascript"></script>
   <!--[if lt IE 9]>
   <script src="{{ SITEURL }}/theme/js/modernizr.custom.11889.js" type="text/javascript"></script>
   <script src="{{ SITEURL }}/theme/js/respond.js" type="text/javascript"></script>
   <![endif]-->
   <!-- HTML5 Shiv events (end)-->
   <!-- MEGA MENU -->
   
   <!-- Favicons
   ================================================== -->
   <link rel="shortcut icon" href="images/favicon.ico">

</head>
<body class="page-sidebar blog">

<!-- Primary Page Layout
================================================== -->
<div id="wrap">

{# 
   <!-- Top Area -->
   <section class="toggle-top-area" >
      <div class="w_toparea container">
         <div class="col-md-3">
            <div class="widget">
               <h5 class="subtitle">Text Widget</h5>
               <div class="textwidget">Interactively incentivize team driven markets and accurate meta-services. Progressively engage cutting-edge catalysts for change after efficient potentialities. Professionally generate extensive process improvements for process-centric niche markets. Dramatically initiate end-to-end niches whereas integrated best practices. Professionally envisioneer ethical results rather than team building synergy.</div>
            </div>
         </div> <!-- end col-md-3 -->
         <div class="col-md-3">
            <div class="widget">
               <h5 class="subtitle">Recent Works</h5>
               <div class="side-list">
                  <ul>
                     <li>
                        <a href="#"><img src="{{ SITEURL }}/theme/images/portfolios/portfolio-item01.jpg" alt="Portfolio Item 12" class="Full tabs-img" /></a>
                        <h5><a href="#">Portfolio Item 12</a></h5>
                        <p>Jan 08 2014</p>
                     </li>
                     <li>
                        <a href="#"><img src="{{ SITEURL }}/theme/images/portfolios/portfolio-item08.jpg" alt="Portfolio Item 11" class="Full tabs-img" /></a>
                        <h5><a href="#">Portfolio Item 11</a></h5>
                        <p>Jan 08 2014</p>
                     </li>
                     <li>
                        <a href="#"><img src="{{ SITEURL }}/theme/images/portfolios/portfolio-item02.jpg" alt="Portfolio Item 10" class="Full tabs-img" /></a>
                        <h5><a href="#">Portfolio Item 10</a></h5>
                        <p>Jan 08 2014</p>
                     </li>
                  </ul>
               </div> <!-- end side-list -->
            </div> <!-- end widget -->
         </div> <!-- end col-md-3 -->
         <div class="col-md-3">
            <div class="widget">
               <h5 class="subtitle">Posts Slider</h5>
               <div class="postslider">
                  <div class="flexslider">
                     <ul class="slides">
                        <li>
                           <a href="#">
                              <img src="{{ SITEURL }}/theme/images/blog/flex-slider/sblog-item01.jpg" alt="Applying behavioural science to a Design" class="thumbnail home_lfb " />
                              <p>Applying behavioural science to a Design</p>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img src="{{ SITEURL }}/theme/images/blog/flex-slider/sblog-item02.jpg" alt="Recalling sweet memories from bridge" class="thumbnail home_lfb " />
                              <p>Recalling sweet memories from bridge</p>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img src="{{ SITEURL }}/theme/images/blog/flex-slider/sblog-item03.jpg" alt="Share your business plan information" class="thumbnail home_lfb " />
                              <p>Share your business plan information</p>
                           </a>
                        </li>
                     </ul>
                  </div> <!-- end flexslider -->
                  <div class="clear"></div>
               </div> <!-- end postslider -->
            </div> <!-- end widget -->
         </div> <!-- end col-md-3 -->
         <div class="col-md-3">
            <div class="widget">
               <h5 class="subtitle">Recent Posts</h5>
               <ul>
                  <li>
                     <a href="#">Applying behavioural science to a Design</a>
                     <span class="post-date">May 28, 2014</span>
                  </li>
                  <li>
                     <a href="#">Recalling sweet memories from bridge</a>
                     <span class="post-date">May 27, 2014</span>
                  </li>
                  <li>
                     <a href="#">Share your business plan information</a>
                     <span class="post-date">May 25, 2014</span>
                  </li>
                  <li>
                     <a href="#">Customizing WP Archives For Categories</a>
                     <span class="post-date">April 29, 2014</span>
                  </li>
                  <li>
                     <a href="#">Uniquely to based action items whereas as good</a>
                     <span class="post-date">March 12, 2014</span>
                  </li>
               </ul>
            </div> <!-- end widget -->
         </div> <!-- end col-md-3 -->
      </div> <!-- end w_toparea container -->
      <a class="w_toggle" href="#"></a>
   </section> <!-- end toggle-top-area -->
   #}

   <!-- Header -->
    <header id="header" class="horizontal-w sm-rgt-mn">
      <div  class="container">
         <div class="col-md-3 col-sm-3 logo-wrap">
            <div class="logo">
               <a href="{{ SITEURL }}/index.html"><img src="{{ SITEURL }}/theme/images/logo.png" width="130" id="img-logo-w1" alt="logo" class="img-logo-w1"></a>
               <a href="{{ SITEURL }}/index.html"><img src="{{ SITEURL }}/theme/images/logo.png" width="130" id="img-logo-w2" alt="logo" class="img-logo-w2"></a>
               <span class="logo-sticky"><a href="{{ SITEURL }}/index.html"><img src="{{ SITEURL }}/theme/images/logo-sticky.png" width="60" id="img-logo-w3" alt="logo" class="img-logo-w3"></a></span>
            </div> <!-- end logo -->
         </div> <!-- end col-md-3 -->
         {# 
         <nav id="nav-wrap" class="nav-wrap1 col-md-9 col-sm-9">
            <div class="container">
               <div class="woo-cart-header">
                  <a class="header-cart" href="#"><span class="header_cart_span">0</span></a>
                  <div class="woo-cart-dropdown">
                     <ul class="cart-list product-list-widget">
                        <li>No products in the cart.</li>
                     </ul>
                     <a href="#" class="qbutton white view-cart">Cart </a>
                     <span class="total">Total:<span class="amount">&#36;0.00</span></span>
                  </div>
               </div> <!-- end woo cart header -->
               <div id="search-form">
                  <a href="javascript:void(0)" class="search-form-icon"><i id="searchbox-icon" class="fa-search"></i></a>
                  <div id="search-form-box" class="search-form-box">
                     <form action="#" method="get">
                        <input type="text" class="search-text-box" id="search-box" name="s">
                     </form>
                  </div>
               </div> <!-- end search form -->
               <ul id="nav">
                  <li>
                     <a href="#" data-description="start here">Home</a>
                     <ul class="sub-menu">
                        <li><a href="home-business.html">Home Business</a></li>
                        <li><a href="home-modern.html">Home Modern</a></li>
                        <li>
                           <a href="#">HomeAgency</a>
                           <ul class="sub-menu">
                              <li><a href="home-agency-1.html">Home Agency 1</a></li>
                              <li><a href="home-agency-2.html">Home Agency 2</a></li>
                              <li><a href="home-agency-3.html">Home Agency 3</a></li>
                              <li><a href="home-agency-4.html">Home Agency 4</a></li>
                           </ul>
                        </li>
                        <li><a href="home-app-presentation.html">Home App</a></li>
                        <li><a href="home-food.html">Home Food</a></li>
                        <li><a href="home-travel.html">Home Travel</a></li>
                        <li><a href="home-realstate.html">Home Realstate</a></li>
                        <li><a href="home-video-intro.html">Home Video Intro</a></li>
                        <li><a href="home-beauty.html">Home Beauty</a></li>
                        <li><a href="home-shop.html">Home Shop</a></li>
                        <li><a href="home-one-page.html">Home One Page</a></li>
                     </ul> <!-- end sub-menu -->
                  </li> <!-- end homes -->
                  <li>
                     <a href="#" data-description="meet extent">Pages</a>
                     <ul class="sub-menu">
                        <li><a href="about-us.html">About us</a></li>
                        <li><a href="about-us-modern.html">About us Modern</a></li>
                        <li><a href="about-us-classic.html">About us Classic</a></li>
                        <li><a href="services-1.html">Services 1</a></li>
                        <li><a href="services-2.html">Services 2</a></li>
                        <li><a href="services-3.html">Services 3</a></li>
                        <li><a href="contact-1.html">Contact 1</a></li>
                        <li><a href="contact-2.html">Contact 2</a></li>
                        <li><a href="contact-3.html">Contact 3</a></li>
                        <li><a href="right-sidebar.html">Right sidebar</a></li>
                        <li><a href="left-sidebar.html">Left sidebar</a></li>
                     </ul>
                  </li> <!-- end pages -->
                  <li>
                     <a href="#" data-description="theme features">Features</a>
                     <ul class="sub-menu">
                        <li><a href="elements.html">Elements</a></li>
                        <li>
                           <a href="elements.html">Headers</a>
                           <ul class="sub-menu">
                              <li><a href="header-2.html">Header 2</a></li>
                              <li><a href="header-3.html">Header 3</a></li>
                              <li><a href="header-4.html">Header 4</a></li>
                              <li><a href="header-5.html">Header 5</a></li>
                              <li><a href="header-6.html">Header 6</a></li>
                              <li><a href="header-7.html">Header 7</a></li>
                              <li><a href="header-8.html">Header + Center Menu</a></li>
                              <li><a href="header-9.html">Header + Top bar</a></li>
                              <li><a href="header-10.html">Header + Icon Mneu</a></li>
                           </ul>
                        </li>
                        <li><a href="shop.html">Shop</a></li>
                        <li><a href="product-item.html">Product</a></li>
                        <li><a href="icon-boxes.html">Icon Boxes</a></li>
                        
                        <li>
                           <a href="">Sub Menu</a>
                           <ul class="sub-menu">
                              <li><a href="#">Menu Item 01</a></li>
                              <li><a href="#">Menu Item 02</a></li>
                              <li><a href="#">Menu Item 03</a></li>
                           </ul>
                        </li>
                     </ul>
                  </li> <!-- end features -->
                  <li>
                     <a href="#" data-description="our works">Work</a>
                     <ul class="sub-menu">
                        <li>
                           <a href="#">Portfolio Wide</a>
                           <ul class="sub-menu">
                              <li><a href="portfolio-col2.html">2 Columns</a></li>
                              <li><a href="portfolio-col3.html">3 Columns</a></li>
                              <li><a href="portfolio-col4.html">4 Columns</a></li>
                              <li><a href="portfolio-col5.html">5 Columns</a></li>
                              <li><a href="portfolio-col6.html">6 Columns</a></li>
                           </ul>
                        </li>
                        <li>
                           <a href="#">Portfolio With Space</a>
                           <ul class="sub-menu">
                              <li><a href="portfolio-col2-ws.html">2 Columns</a></li>
                              <li><a href="portfolio-col3-ws.html">3 Columns</a></li>
                              <li><a href="portfolio-col4-ws.html">4 Columns</a></li>
                              <li><a href="portfolio-col5-ws.html">5 Columns</a></li>
                              <li><a href="portfolio-col6-ws.html">6 Columns</a></li>
                           </ul>
                        </li>
                        <li><a href="portfolio-timeline.html">Portfolio Timeline</a></li>
                        <li><a href="portfolio-masonry.html">Portfolio Masonry</a></li>
                        <li><a href="portfolio-item.html">Portfolio item</a></li>
                     </ul>
                  </li> <!-- end works -->
                  <li class="current">
                     <a href="#" data-description="our ideas">Blog</a>
                     <ul class="sub-menu">
                        <li class="current"><a href="blog.html">Blog</a></li>
                        <li><a href="blog1-left-sidebar.html">Blog 1 &#8211; Left Sidebar</a></li>
                        <li><a href="blog2.html">Blog 2</a></li>
                        <li><a href="blog2-left-sidebar.html">Blog 2 &#8211; Left Sidebar</a></li>
                        <li><a href="blog-both-sidebar.html">Blog &#8211; Both Sidebar</a></li>
                        <li><a href="blog-timeline.html">Blog Timeline</a></li>
                        <li><a href="blog-masonry.html">Blog Masonry</a></li>
                     </ul>
                  </li> <!-- end blogs -->
                  <li>
                     <a href="#" data-description="mega">Mega</a>
                     <ul class="sub-menu mega">
                        <li>
                           <div class="col-md-4 mega-custom-bg1">
                              <hr class="vertical-space1">
                              <h1>Mega menu</h1>
                              <hr class="vertical-space2">
                              <h4 class="tagline-thin">Mega menu content<br />built with<br />visual page builder</h4>
                              <hr class="vertical-space3">
                              <p>You can use any type of elements<br />in custom columns of mega menu</p>
                              <hr class="vertical-space2">
                           </div> <!-- end col-md-4 -->
                           <div class="col-sm-8">
                              <div class="col-sm-4">
                                 <h4 class="subtitle">Custom HTML</h4>
                                 <ul>
                                    <li><a href="#"><i class="fa-laptop"></i> Proin portam</a></li>
                                    <li><a href="#"><i class="fa-twitter"></i> Praesent adip</a></li>
                                    <li><a href="#"><i class="li_phone"></i> Faucibus emod</a></li>
                                    <li><a href="#"><i class="li_lab"></i> Integer necla</a></li>
                                    <li><a href="#"><i class="li_vallet"></i> Adipiscing tes</a></li>
                                    <li><a href="#"><i class="fa-bomb"></i> Bliquam erost</a></li>
                                 </ul>
                              </div> <!-- end col-sm-4 -->
                              <div class="col-sm-4">
                                 <h4 class="subtitle">Custom menu</h4>
                                 <div class="widget">
                                    <ul class="menu">
                                       <li><a href="about-us.html">About us</a></li>
                                       <li><a href="services-1.html">Services</a></li>
                                       <li><a href="home-app.html">Home App</a></li>
                                       <li><a href="home-video-intro.html">Home Video intro</a></li>
                                       <li><a href="home-food.html">Home Food</a></li>
                                       <li><a href="home-business.html">Home Business</a></li>
                                    </ul>
                                 </div>
                              </div> <!-- end col-sm-4 --> 
                              <div class="col-sm-4">
                                 <h4 class="subtitle">Custom Form</h4>
                                 <form id="frmContact" action="#" method="post">
                                    <input class="txbx" name="emailTo" type="hidden" value="webnus.net@gmail.com" />
                                    <input class="txbx" name="txtEmail" type="text" value="Email" />
                                    <input class="txbx" name="txtSubject" type="text" value="Subject" />
                                    <textarea class="txbx era" name="txtText"></textarea><br />
                                    <button id="btnSend" class="btnSend" name="btnSend" type="button">Send Message</button>
                                 </form>
                              </div> <!-- end col-sm-4 -->
                           </div> <!-- end col-sm-8 -->
                        </li>
                     </ul>
                  </li> <!-- end mega -->
               </ul> <!-- end #nav -->
            </div>
         </nav> <!-- end navigation -->
         #}
      </div> <!-- end container -->
   </header> <!-- end header -->
   
   <!-- Start Page Content -->
   <section id="headline">
      <div class="container">
         <h3>The Official Blog</h3>
      </div>
   </section>
   <section class="container page-content" >
      <hr class="vertical-space2">
      <section class="col-md-8">
         {# 
         <article class="blog-post">
            <img src="{{ SITEURL }}/theme/images/blog/blog-item01.jpg" alt="Applying behavioural science to a Design" class="Full " />
            <div class="col-md-11 omega">
               <div class="postmetadata">
                  <h6 class="blog-author"><strong>by</strong> Jane Smith </h6>
                  <h6 class="blog-cat"><strong>in</strong> <a href="#" title="View all posts in Business" rel="category tag">Business</a>, <a href="#" title="View all posts in News" rel="category tag">News</a> </h6>
                  <h6 class="blog-comments"> No Comments </h6>
               </div>
               <h6 class="blog-date"><span>28 </span>May 2014 </h6>
               <h3><a href="blog-single.html">Applying behavioural science to a Design</a></h3>
               <p>Extent is a responsive WordPress theme suitable for multipurpose websites such as a business website or an agency website. It has a stylish minimal layout and comes equipped with custom post types to create portfolios, highlight content, showcase teams, etc There are many things... <br><br><a class="readmore" href="blog-single.html">Read More</a></p>
            </div>
            <hr class="vertical-space1">
         </article> <!-- end blog-post -->
         #}
         {% block content %}
         {% endblock %}
         <br class="clear">
         {% include 'pagination.html' %}
         <div class="vertical-space3"></div>
      </section> <!-- end-main-content -->
      
      <aside class="col-md-3 col-md-offset-1 sidebar"> 

         {% include 'sidebar.html' %}

         {#
         <div class="widget">
            <h4 class="subtitle">Popular Posts</h4>
            <div class="side-list">
               <ul>
                  <li>
                     <a href="#"><img src="{{ SITEURL }}/theme/images/blog/blog-item08.jpg" alt="Famous sea cave conceptualize high-quality schemas" class="Full blog2_thumb " /></a>
                     <h5><a href="#">Famous sea cave conceptualize high-quality schemas</a></h5>
                     <p>5 Comments</p>
                  </li>
                  <li>
                     <a href="#"><img src="{{ SITEURL }}/theme/images/blog/blog-item06.jpg" alt="Distinctively maintain proactive info with efficient" class="Full blog2_thumb " /></a>
                     <h5><a href="#">Distinctively maintain proactive info with efficient</a></h5>
                     <p>3 Comments</p>
                  </li>
                  <li>
                     <a href="#"><img src="{{ SITEURL }}/theme/images/blog/blog-item02.jpg" alt="Recalling sweet memories from bridge" class="Full blog2_thumb " /></a>
                     <h5><a href="#">Recalling sweet memories from bridge</a></h5>
                     <p>2 Comments</p>
                  </li>
                  <li>
                     <a href="#"><img src="{{ SITEURL }}/theme/images/blog/blog-item05.jpg" alt="Customizing WP Archives For Categories" class="Full blog2_thumb " /></a>
                     <h5><a href="#">Customizing WP Archives For Categories</a></h5>
                     <p>2 Comments</p>
                  </li>
               </ul>
            </div> <!-- end side-list -->
         </div> <!-- end widget -->

         #}

         {# comment 
         <div class="widget">
            <h4 class="subtitle">Categories</h4>
            <ul>
               <li><a href="#" title="View all posts filed under Business">Business</a></li>
               <li><a href="#" title="View all posts filed under Company">Company</a></li>
               <li><a href="#" title="View all posts filed under Entertainment">Entertainment</a></li>
               <li><a href="#" title="View all posts filed under Health">Health</a></li>
               <li><a href="#" title="View all posts filed under News">News</a></li>
               <li><a href="#" title="View all posts filed under Photography">Photography</a></li>
               <li><a href="#" title="View all posts filed under Science">Science</a></li>
               <li><a href="#" title="View all posts filed under Stories">Stories</a></li>
               <li><a href="#" title="View all posts filed under Travel">Travel</a></li>
               <li><a href="#" title="View all posts filed under Uncategorized">Uncategorized</a></li>
               <li><a href="#" title="View all posts filed under Wild Life">Wild Life</a></li>
            </ul>
         </div> <!-- end widget -->
         #}

         {# 
         <div class="widget">
            <form role="search" action="#" method="get" >
               <div>
                  <input name="s" type="text" placeholder="Enter Keywords..." class="search-side" >
               </div>
            </form>
         </div> <!-- end widget -->
         #}
         
         {# 
         <div class="widget">
            <div class="widget-tabs">
               <div class="tab-hold tabs-wrapper">
                  <ul id="tabs" class="tabset tabs">
                     <li><a href="#tab-popular">Popular</a></li>
                     <li><a href="#tab-recent">Recent</a></li>
                     <li><a href="#tab-comments">Comments</a></li>
                  </ul>
                  <div class="tab-box tabs-container">
                     <div id="tab-popular" class="tab tab_content">
                        <ul class="tab-list">
                           <li>
                              <div class="image">
                                 <a href="#"><img width="64" height="62" src="images/blog/blog-item01.jpg" alt=""/></a>
                              </div>
                              <div class="content">
                                 <a href="#">Applying behavioural science to a Design</a>
                                 <div class="tab-date">
                                    May 28, 2014                           
                                 </div>
                              </div>
                           </li>
                           <li>
                              <div class="image">
                                 <a href="#"><img width="64" height="36" src="images/blog/blog-item02.jpg" alt=""/></a>
                              </div>
                              <div class="content">
                                 <a href="#">Recalling sweet memories from bridge</a>
                                 <div class="tab-date">
                                    May 27, 2014                           
                                 </div>
                              </div>
                           </li>
                           <li>
                              <div class="image">
                                 <a href="#"><img width="64" height="42" src="images/blog/blog-item04.jpg" alt=""/></a>
                              </div>
                              <div class="content">
                                 <a href="#">Customizing WP Archives For Categories</a>
                                 <div class="tab-date">
                                    Apr 29, 2014                           
                                 </div>
                              </div>
                           </li>
                           <li>
                              <div class="image">
                                 <a href="#"><img width="64" height="42" src="images/blog/blog-item08.jpg" alt=""/></a>
                              </div>
                              <div class="content">
                                 <a href="#">Famous sea cave conceptualize high-quality schemas</a>
                                 <div class="tab-date">
                                    Feb 26, 2014                           
                                 </div>
                              </div>
                           </li>
                        </ul> <!-- end tab-list -->
                     </div> <!-- end tab-popular -->
                     <div id="tab-recent" class="tab tab_content">
                        <ul class="tab-list">
                           <li>
                              <div class="image">
                                 <a href="#"><img width="64" height="62" src="images/blog/blog-item01.jpg" alt=""/></a>
                              </div>
                              <div class="content">
                                 <a href="#">Applying behavioural science to a Design</a>
                                 <div class="tab-date">
                                    May 28, 2014                           
                                 </div>
                              </div>
                           </li>
                           <li>
                              <div class="image">
                                 <a href="#"><img width="64" height="36" src="images/blog/blog-item02.jpg" alt=""/></a>
                              </div>
                              <div class="content">
                                 <a href="#">Recalling sweet memories from bridge</a>
                                 <div class="tab-date">
                                    May 27, 2014                           
                                 </div>
                              </div>
                           </li>
                           <li>
                              <div class="image">
                                 <a href="#"><img width="64" height="32" src="images/blog/blog-item03.jpg" alt=""/></a>
                              </div>
                              <div class="content">
                                 <a href="#">Share your business plan information</a>
                                 <div class="tab-date">
                                    May 25, 2014                           
                                 </div>
                              </div>
                           </li>
                           <li>
                              <div class="image">
                                 <a href="#"><img width="64" height="42" src="images/blog/blog-item04.jpg" alt=""/></a>
                              </div>
                              <div class="content">
                                 <a href="#">Customizing WP Archives For Categories</a>
                                 <div class="tab-date">
                                    Apr 29, 2014                           
                                 </div>
                              </div>
                           </li>
                        </ul> <!-- end tab-list -->
                     </div> <!-- end tab-recent -->
                     <div id="tab-comments" class="tab tab_content">
                        <ul class="tab-list">
                           <li>
                              <div class="image">
                                 <a>
                                 <img src='images/blog/avatar1.jpg' alt=""/></a>
                              </div>
                              <div class="content">
                                 <p>Jane Smith says:</p>
                                 <div>
                                    <a class="comment-text-side" href="#" title="Jane Smith on Share your business plan information">commodo ligula eget dolor...</a>
                                 </div>
                              </div>
                           </li>
                           <li>
                              <div class="image">
                                 <a>
                                 <img src='images/blog/avatar1.jpg' alt=""/></a>
                              </div>
                              <div class="content">
                                 <p>Jane Smith says:</p>
                                 <div>
                                    <a class="comment-text-side" href="#" title="Jane Smith on Recalling sweet memories from bridge">dolor sit amet...</a>
                                 </div>
                              </div>
                           </li>
                           <li>
                              <div class="image">
                                 <a>
                                 <img src='images/blog/avatar1.jpg' alt=""/></a>
                              </div>
                              <div class="content">
                                 <p>Jane Smith says:</p>
                                 <div>
                                    <a class="comment-text-side" href="#" title="Jane Smith on Recalling sweet memories from bridge">lorem ipsum...</a>
                                 </div>
                              </div>
                           </li>
                           <li>
                              <div class="image">
                                 <a>
                                 <img src='images/blog/avatar1.jpg' alt=""/></a>
                              </div>
                              <div class="content">
                                 <p>Jane Smith says:</p>
                                 <div>
                                    <a class="comment-text-side" href="#" title="Jane Smith on DRESS THREE">good...</a>
                                 </div>
                              </div>
                           </li>
                        </ul> <!-- end tab-list -->
                     </div> <!-- end tab-comments -->
                  </div> <!-- end tab-box tabs-container -->
               </div> <!-- end tab-hold tabs-wrapper -->
            </div> <!-- end widget-tab -->
         </div> <!-- end widget -->
         #}
         
         {# 
         <div class="widget">
            <h4 class="subtitle">Calendar</h4>
            <div id="calendar_wrap">
               <table id="wp-calendar">
                  <caption>November 2014</caption>
                  <thead>
                     <tr>
                        <th scope="col" title="Monday">M</th>
                        <th scope="col" title="Tuesday">T</th>
                        <th scope="col" title="Wednesday">W</th>
                        <th scope="col" title="Thursday">T</th>
                        <th scope="col" title="Friday">F</th>
                        <th scope="col" title="Saturday">S</th>
                        <th scope="col" title="Sunday">S</th>
                     </tr>
                  </thead>
                  <tfoot>
                     <tr>
                        <td colspan="3" id="prev"><a href="#" title="View posts for May 2014">&laquo; May</a></td>
                        <td class="pad">&nbsp;</td>
                        <td colspan="3" id="next" class="pad">&nbsp;</td>
                     </tr>
                  </tfoot>
                  <tbody>
                     <tr>
                        <td colspan="5" class="pad">&nbsp;</td>
                        <td>1</td>
                        <td>2</td>
                     </tr>
                     <tr>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                     </tr>
                     <tr>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                        <td>13</td>
                        <td>14</td>
                        <td>15</td>
                        <td>16</td>
                     </tr>
                     <tr>
                        <td>17</td>
                        <td>18</td>
                        <td>19</td>
                        <td>20</td>
                        <td>21</td>
                        <td>22</td>
                        <td>23</td>
                     </tr>
                     <tr>
                        <td>24</td>
                        <td>25</td>
                        <td>26</td>
                        <td>27</td>
                        <td>28</td>
                        <td>29</td>
                        <td id="today">30</td>
                     </tr>
                  </tbody>
               </table>
            </div> <!-- end calendar_wrap -->
         </div> <!-- end widget -->
         #}
         
         {# 
         <div class="widget">
            <h4 class="subtitle">Ads</h4>
            <div class="webnus-ad">
               <a href="http://themeforest.net/user/WEBNUS"><img src="{{ SITEURL }}/theme/images/blog/ads.jpg" alt="" /></a>        
               <div class="clear"></div>
            </div>
         </div> <!-- end widget -->
         #}
         
         {# 
         <div class="widget">
            <h4 class="subtitle">Tags</h4>
            <div class="tagcloud">
               <a href='#'>animal</a>
               <a href='#'>Animation</a>
               <a href='#'>beach</a>
               <a href='#'>blog</a>
               <a href='#'>book</a>
               <a href='#'>cat</a>
               <a href='#'>flash</a>
               <a href='#'>lorem</a>
               <a href='#'>magazine</a>
               <a href='#'>mask</a>
               <a href='#'>photo</a>
               <a href='#'>Photography</a>
               <a href='#'>plants</a>
               <a href='#'>quick</a>
               <a href='#'>sport</a>
               <a href='#'>Street Aesthetic</a>
               <a href='#'>theme</a>
               <a href='#'>travel</a>
               <a href='#'>Web Design</a>
               <a href='#'>wild life</a>
               <a href='#'>wordpress</a>
            </div>
         </div> <!-- end widget -->
         #}
         
         {# 
         <div class="widget">
            <h4 class="subtitle">Recent Works</h4>
            <div class="side-list">
               <ul>
                  <li>
                     <a href="#"><img src="{{ SITEURL }}/theme/images/portfolios/portfolio-item01.jpg" alt="Portfolio Item 12" class="Full tabs-img " /></a>
                     <h5><a href="#">Portfolio Item 12</a></h5>
                     <p>Jan 08 2014</p>
                  </li>
                  <li>
                     <a href="#"><img src="{{ SITEURL }}/theme/images/portfolios/portfolio-item08.jpg" alt="Portfolio Item 11" class="Full tabs-img " /></a>
                     <h5><a href="#">Portfolio Item 11</a></h5>
                     <p>Jan 08 2014</p>
                  </li>
                  <li>
                     <a href="#"><img src="{{ SITEURL }}/theme/images/portfolios/portfolio-item02.jpg" alt="Portfolio Item 10" class="Full tabs-img " /></a>
                     <h5><a href="#">Portfolio Item 10</a></h5>
                     <p>Jan 08 2014</p>
                  </li>
                  <li>
                     <a href="#"><img src="{{ SITEURL }}/theme/images/portfolios/portfolio-item11.jpg" alt="Portfolio Item 09" class="Full tabs-img " /></a>
                     <h5><a href="#">Portfolio Item 09</a></h5>
                     <p>Jan 08 2014</p>
                  </li>
               </ul>
            </div> <!-- end side-list -->
         </div> <!-- end widget -->
         #}
         
         {# 
         <div class="widget">
            <h4 class="subtitle">Instagram</h4>
            <div class="instagram-feed">
               <ul>
                  <li><a href="#"><img src="{{ SITEURL }}/theme/images/blog/instageram.jpg" alt=""/></a></li>
                  <li><a href="#"><img src="{{ SITEURL }}/theme/images/blog/instageram.jpg" alt=""/></a></li>
                  <li><a href="#"><img src="{{ SITEURL }}/theme/images/blog/instageram.jpg" alt=""/></a></li>
                  <li><a href="#"><img src="{{ SITEURL }}/theme/images/blog/instageram.jpg" alt=""/></a></li>
                  <li><a href="#"><img src="{{ SITEURL }}/theme/images/blog/instageram.jpg" alt=""/></a></li>
                  <li><a href="#"><img src="{{ SITEURL }}/theme/images/blog/instageram.jpg" alt=""/></a></li>
                  <li><a href="#"><img src="{{ SITEURL }}/theme/images/blog/instageram.jpg" alt=""/></a></li>
                  <li><a href="#"><img src="{{ SITEURL }}/theme/images/blog/instageram.jpg" alt=""/></a></li>
                  <li><a href="#"><img src="{{ SITEURL }}/theme/images/blog/instageram.jpg" alt=""/></a></li>
               </ul>
               <div class="clear"></div>
            </div> <!-- end instagram-feed -->
         </div> <!-- end widget -->
         #}
         
         {# 
         <div class="widget">
            <h4 class="subtitle">Post Slider</h4>
            <div class="postslider">
               <div class="flexslider">
                  <ul class="slides">
                     <li>
                        <a href="#">
                           <img src="{{ SITEURL }}/theme/images/blog/flex-slider/sblog-item01.jpg" alt="Applying behavioural science to a Design" class="thumbnail" />
                           <p>Applying behavioural science to a Design</p>
                        </a>
                     </li>
                     <li>
                        <a href="#">
                           <img src="{{ SITEURL }}/theme/images/blog/flex-slider/sblog-item02.jpg" alt="Recalling sweet memories from bridge" class="thumbnail" />
                           <p>Recalling sweet memories from bridge</p>
                        </a>
                     </li>
                     <li>
                        <a href="#">
                           <img src="{{ SITEURL }}/theme/images/blog/flex-slider/sblog-item03.jpg" alt="Share your business plan information" class="thumbnail" />
                           <p>Share your business plan information</p>
                        </a>
                     </li>
                  </ul>
               </div>
               <div class="clear"></div>
            </div>
         </div> <!-- end widget -->
         #}
         
         {# 
         <div class="widget">
            <h4 class="subtitle">Flickr</h4>
            <div class="flickr-feed">
               <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=12&amp;display=random&amp;size=s&amp;layout=x&amp;source=user&amp;user=23183960@N00"></script>         
               <div class="clear"></div>
            </div>
         </div> <!-- end widget -->
         #}
         
         {# 
         <div class="widget">
            <h4 class="subtitle">Recent Posts</h4>
            <ul>
               <li>
                  <a href="#">Applying behavioural science to a Design</a>
               </li>
               <li>
                  <a href="#">Recalling sweet memories from bridge</a>
               </li>
               <li>
                  <a href="#">Share your business plan information</a>
               </li>
               <li>
                  <a href="#">Customizing WP Archives For Categories</a>
               </li>
               <li>
                  <a href="#">Uniquely to based action items whereas as good</a>
               </li>
            </ul>
         </div> <!-- end widget -->
         #}
      </aside> <!-- end-sidebar-->    
      <hr class="vertical-space">
   </section>

   <!-- Footer -->
   <footer id="footer">
      <section class="container footer-in">
         <div class="col-md-3">
            <div class="widget">
               <div class="textwidget logo2stk2">
               <img src="{{ SITEURL }}/theme/images/logo2stk2.png" alt="logo" width="40">
               SPEAK US TO
               <br />
               <strong><small>CONVERT PHOTOS INTO VIDEOS.</small></strong>
               </div>
            </div>
         </div>
         <div class="col-md-3"></div>
         <div class="col-md-3"></div>
         <div class="col-md-3">
            <div class="widget">
               <div class="socialfollow">
                  <a href="http://twitter.com/picovico" class="twitter"><i class="fa-twitter"></i></a><a href="http://facebook.com/picovico" class="facebook"><i class="fa-facebook"></i></a>
                  <a href="http://plus.google.com/+Picovico" class="google"><i class="fa-google"></i></a>
                  {# <a href="#" class="instagram"><i class="fa-instagram"></i></a>         #}
                  <div class="clear"></div>
               </div>
            </div>
         </div>
      </section> <!-- end-footer-in -->
      <section class="footbot">
         <div class="container">
            <div class="col-md-6">
               <!-- footer-navigation /end -->
               <div class="footer-navi">
                  © 2015 Picovico Inc.
               </div>
            </div>
            <div class="col-md-6">
               <!-- footer-navigation /end -->
               {# <img src="{{ SITEURL }}/theme/images/logo.png" width="65" alt="" >  #}
            </div>
         </div>
      </section> <!-- end-footbot -->
   </footer> <!-- end-footbot -->

   <span id="scroll-top"><a class="scrollup"><i class="fa-chevron-up"></i></a></span>
   
</div> <!-- end Wrap -->

   <!-- End Document
   ================================================== -->

   <!-- JS
   ================================================== -->
   <script src="{{ SITEURL }}/theme/js/jquery.plugins.js" type="text/javascript"></script>
   <script src="{{ SITEURL }}/theme/js/jquery.masonry.min.js" type="text/javascript"></script>
   <script src="{{ SITEURL }}/theme/js/mediaelement-and-player.min.js" type="text/javascript"></script>
   <script src="{{ SITEURL }}/theme/js/isotope.js" type="text/javascript"></script>
   <script src="{{ SITEURL }}/theme/layerslider/js/layerslider.transitions.js" type="text/javascript"></script>
   <script src="{{ SITEURL }}/theme/layerslider/js/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script>
   <script src="{{ SITEURL }}/theme/js/sticky-custom.js" type="text/javascript"></script>
   <script type="text/javascript" src="{{ SITEURL }}/theme/js/extent-custom.js"></script>
	
{% if GOOGLE_ANALYTICS %}
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("{{GOOGLE_ANALYTICS}}");
    pageTracker._trackPageview();
    } catch(err) {}</script>
  {% endif %}   
  
</body>
</html>
