<h1>Life around Slideshows & Video Making</h1>




   {# 
            <div class="container">
               <div class="woo-cart-header">
                  <a class="header-cart" href="#"><span class="header_cart_span">0</span></a>
                  <div class="woo-cart-dropdown">
                     <ul class="cart-list product-list-widget">
                        <li>No products in the cart.</li>
                     </ul>
                     <a href="#" class="qbutton white view-cart">Cart </a>
                     <span class="total">Total:<span class="amount">&#36;0.00</span></span>
                  </div>
               </div> <!-- end woo cart header -->
               <div id="search-form">
                  <a href="javascript:void(0)" class="search-form-icon"><i id="searchbox-icon" class="fa-search"></i></a>
                  <div id="search-form-box" class="search-form-box">
                     <form action="#" method="get">
                        <input type="text" class="search-text-box" id="search-box" name="s">
                     </form>
                  </div>
               </div> <!-- end search form -->
               <ul id="nav">
                  <li>
                     <a href="#" data-description="start here">Home</a>
                     <ul class="sub-menu">
                        <li><a href="home-business.html">Home Business</a></li>
                        <li><a href="home-modern.html">Home Modern</a></li>
                        <li>
                           <a href="#">HomeAgency</a>
                           <ul class="sub-menu">
                              <li><a href="home-agency-1.html">Home Agency 1</a></li>
                              <li><a href="home-agency-2.html">Home Agency 2</a></li>
                              <li><a href="home-agency-3.html">Home Agency 3</a></li>
                              <li><a href="home-agency-4.html">Home Agency 4</a></li>
                           </ul>
                        </li>
                        <li><a href="home-app-presentation.html">Home App</a></li>
                        <li><a href="home-food.html">Home Food</a></li>
                        <li><a href="home-travel.html">Home Travel</a></li>
                        <li><a href="home-realstate.html">Home Realstate</a></li>
                        <li><a href="home-video-intro.html">Home Video Intro</a></li>
                        <li><a href="home-beauty.html">Home Beauty</a></li>
                        <li><a href="home-shop.html">Home Shop</a></li>
                        <li><a href="home-one-page.html">Home One Page</a></li>
                     </ul> <!-- end sub-menu -->
                  </li> <!-- end homes -->
                  <li>
                     <a href="#" data-description="meet extent">Pages</a>
                     <ul class="sub-menu">
                        <li><a href="about-us.html">About us</a></li>
                        <li><a href="about-us-modern.html">About us Modern</a></li>
                        <li><a href="about-us-classic.html">About us Classic</a></li>
                        <li><a href="services-1.html">Services 1</a></li>
                        <li><a href="services-2.html">Services 2</a></li>
                        <li><a href="services-3.html">Services 3</a></li>
                        <li><a href="contact-1.html">Contact 1</a></li>
                        <li><a href="contact-2.html">Contact 2</a></li>
                        <li><a href="contact-3.html">Contact 3</a></li>
                        <li><a href="right-sidebar.html">Right sidebar</a></li>
                        <li><a href="left-sidebar.html">Left sidebar</a></li>
                     </ul>
                  </li> <!-- end pages -->
                  <li>
                     <a href="#" data-description="theme features">Features</a>
                     <ul class="sub-menu">
                        <li><a href="elements.html">Elements</a></li>
                        <li>
                           <a href="elements.html">Headers</a>
                           <ul class="sub-menu">
                              <li><a href="header-2.html">Header 2</a></li>
                              <li><a href="header-3.html">Header 3</a></li>
                              <li><a href="header-4.html">Header 4</a></li>
                              <li><a href="header-5.html">Header 5</a></li>
                              <li><a href="header-6.html">Header 6</a></li>
                              <li><a href="header-7.html">Header 7</a></li>
                              <li><a href="header-8.html">Header + Center Menu</a></li>
                              <li><a href="header-9.html">Header + Top bar</a></li>
                              <li><a href="header-10.html">Header + Icon Mneu</a></li>
                           </ul>
                        </li>
                        <li><a href="shop.html">Shop</a></li>
                        <li><a href="product-item.html">Product</a></li>
                        <li><a href="icon-boxes.html">Icon Boxes</a></li>
                        
                        <li>
                           <a href="">Sub Menu</a>
                           <ul class="sub-menu">
                              <li><a href="#">Menu Item 01</a></li>
                              <li><a href="#">Menu Item 02</a></li>
                              <li><a href="#">Menu Item 03</a></li>
                           </ul>
                        </li>
                     </ul>
                  </li> <!-- end features -->
                  <li>
                     <a href="#" data-description="our works">Work</a>
                     <ul class="sub-menu">
                        <li>
                           <a href="#">Portfolio Wide</a>
                           <ul class="sub-menu">
                              <li><a href="portfolio-col2.html">2 Columns</a></li>
                              <li><a href="portfolio-col3.html">3 Columns</a></li>
                              <li><a href="portfolio-col4.html">4 Columns</a></li>
                              <li><a href="portfolio-col5.html">5 Columns</a></li>
                              <li><a href="portfolio-col6.html">6 Columns</a></li>
                           </ul>
                        </li>
                        <li>
                           <a href="#">Portfolio With Space</a>
                           <ul class="sub-menu">
                              <li><a href="portfolio-col2-ws.html">2 Columns</a></li>
                              <li><a href="portfolio-col3-ws.html">3 Columns</a></li>
                              <li><a href="portfolio-col4-ws.html">4 Columns</a></li>
                              <li><a href="portfolio-col5-ws.html">5 Columns</a></li>
                              <li><a href="portfolio-col6-ws.html">6 Columns</a></li>
                           </ul>
                        </li>
                        <li><a href="portfolio-timeline.html">Portfolio Timeline</a></li>
                        <li><a href="portfolio-masonry.html">Portfolio Masonry</a></li>
                        <li><a href="portfolio-item.html">Portfolio item</a></li>
                     </ul>
                  </li> <!-- end works -->
                  <li class="current">
                     <a href="#" data-description="our ideas">Blog</a>
                     <ul class="sub-menu">
                        <li class="current"><a href="blog.html">Blog</a></li>
                        <li><a href="blog1-left-sidebar.html">Blog 1 &#8211; Left Sidebar</a></li>
                        <li><a href="blog2.html">Blog 2</a></li>
                        <li><a href="blog2-left-sidebar.html">Blog 2 &#8211; Left Sidebar</a></li>
                        <li><a href="blog-both-sidebar.html">Blog &#8211; Both Sidebar</a></li>
                        <li><a href="blog-timeline.html">Blog Timeline</a></li>
                        <li><a href="blog-masonry.html">Blog Masonry</a></li>
                     </ul>
                  </li> <!-- end blogs -->
                  <li>
                     <a href="#" data-description="mega">Mega</a>
                     <ul class="sub-menu mega">
                        <li>
                           <div class="col-md-4 mega-custom-bg1">
                              <hr class="vertical-space1">
                              <h1>Mega menu</h1>
                              <hr class="vertical-space2">
                              <h4 class="tagline-thin">Mega menu content<br />built with<br />visual page builder</h4>
                              <hr class="vertical-space3">
                              <p>You can use any type of elements<br />in custom columns of mega menu</p>
                              <hr class="vertical-space2">
                           </div> <!-- end col-md-4 -->
                           <div class="col-sm-8">
                              <div class="col-sm-4">
                                 <h4 class="subtitle">Custom HTML</h4>
                                 <ul>
                                    <li><a href="#"><i class="fa-laptop"></i> Proin portam</a></li>
                                    <li><a href="#"><i class="fa-twitter"></i> Praesent adip</a></li>
                                    <li><a href="#"><i class="li_phone"></i> Faucibus emod</a></li>
                                    <li><a href="#"><i class="li_lab"></i> Integer necla</a></li>
                                    <li><a href="#"><i class="li_vallet"></i> Adipiscing tes</a></li>
                                    <li><a href="#"><i class="fa-bomb"></i> Bliquam erost</a></li>
                                 </ul>
                              </div> <!-- end col-sm-4 -->
                              <div class="col-sm-4">
                                 <h4 class="subtitle">Custom menu</h4>
                                 <div class="widget">
                                    <ul class="menu">
                                       <li><a href="about-us.html">About us</a></li>
                                       <li><a href="services-1.html">Services</a></li>
                                       <li><a href="home-app.html">Home App</a></li>
                                       <li><a href="home-video-intro.html">Home Video intro</a></li>
                                       <li><a href="home-food.html">Home Food</a></li>
                                       <li><a href="home-business.html">Home Business</a></li>
                                    </ul>
                                 </div>
                              </div> <!-- end col-sm-4 --> 
                              <div class="col-sm-4">
                                 <h4 class="subtitle">Custom Form</h4>
                                 <form id="frmContact" action="#" method="post">
                                    <input class="txbx" name="emailTo" type="hidden" value="webnus.net@gmail.com" />
                                    <input class="txbx" name="txtEmail" type="text" value="Email" />
                                    <input class="txbx" name="txtSubject" type="text" value="Subject" />
                                    <textarea class="txbx era" name="txtText"></textarea><br />
                                    <button id="btnSend" class="btnSend" name="btnSend" type="button">Send Message</button>
                                 </form>
                              </div> <!-- end col-sm-4 -->
                           </div> <!-- end col-sm-8 -->
                        </li>
                     </ul>
                  </li> <!-- end mega -->
               </ul> <!-- end #nav -->
            </div>


               #}