<aside id="sidebar">
{% block sidebar_header %}
{% endblock %}

  {# 
  <div class="widget" id="categories">
    <h2>Categories</h2>
    <ul>
    {% for cat, null in categories %}
      <li {% if cat == category %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
    {% endfor %}
    </ul>
  </div>

  #}

  {% if article  and article.tags %}
  <div class="widget" id="tags">
    <h2>Tags</h2>
    <ul>
    {% for tag in article.tags %}
      <li><a href="{{SITEURL}}/{{tag.url}}">{{ tag }}</a></li>
    {% endfor %}
      <li><a class="more" href="{{SITEURL}}/tags.html">Plus...</a></li>
    </ul>
  </div>
  {%endif%}

  <style type="text/css">
    #owl-pv-items > div img {
      display: block;
      width: 100%;
      height: auto;
    }
  </style>
  <div class="widget" id="picovico-banner" style="display:none">
      <div class="widget-inner">
	<div id="owl-pv-items">
        <div><a href="http://www.picovico.com/"><img src="{{SITEURL}}/theme/images/selfie/i_addcontent_3.png.jpg"  /></a></div>
        <div><a href="http://www.picovico.com/android"><img src="{{SITEURL}}/theme/images/selfie/i_login_1.png.jpg"  /></a></div>
        <div><a href="http://www.picovico.com/android"><img src="{{SITEURL}}/theme/images/selfie/i_myvideos_2.png.jpg"  /></a></div>
        <div><a href="http://www.picovico.com/android-app"><img src="{{SITEURL}}/theme/images/selfie/i_profile_8.png.jpg"  /></a></div>
        <div><a href="http://www.picovico.com/"><img src="{{SITEURL}}/theme/images/selfie/i_selectmusic_5.png.jpg"  /></a></div>
        <div><a href="http://www.picovico.com/android"><img src="{{SITEURL}}/theme/images/selfie/i_splash_0.png.jpg"  /></a></div>
        <div><a href="http://www.picovico.com/business"><img src="{{SITEURL}}/theme/images/selfie/i_stylepreview_7.png.jpg"  /></a></div>
        <div><a href="http://www.picovico.com/android-app"><img src="{{SITEURL}}/theme/images/selfie/i_uploadimages_4.png.jpg"  /></a></div>
        <div><a href="http://www.picovico.com/"><img src="{{SITEURL}}/theme/images/selfie/i_videostyle_6.png.jpg"  /></a></div>
</div>
</div>
  </div>

{# 
<div class="widget">
<!-- Start of picovicohelp Zendesk Widget script -->
<script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(c){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("//assets.zendesk.com/embeddable_framework/main.js","picovicohelp.zendesk.com");/*]]>*/</script>
<!-- End of picovicohelp Zendesk Widget script -->
</div>
#}

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var $_Tawk_API={},$_Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5538c3ba74c5ad913414b6c6/19jj0h875';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

  
  {% if LINKS %}
  <div class="widget" id="blogroll">
    <h2>Links</h2>
    <ul>
    {% for name, link in LINKS %}
      <li><a href="{{ link }}">{{ name }}</a></li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if SOCIAL %}
    <div class="widget" id="social">
      <h2>Social</h2>
      <ul>
        {% for name, link in SOCIAL %}
        <li><a href="{{ link }}">{{ name }}</a></li>
        {% endfor %}
       </ul>
    </div>
 {% endif %}

 {% if FEED_ATOM or FEED_RSS %}
    <div class="widget" id="subscribe">
    <h2>Feeds</h2>
      <ul>
        <li><a href="{{ SITEURL }}/{{ FEED_ATOM }}" rel="alternate">ATOM</a></li>
        {% if FEED_RSS %}
        <li><a href="{{ SITEURL }}/{{ FEED_RSS }}" rel="alternate">RSS</a></li>
        {% endif %}
      </ul>
    </div>
  {% endif %}
</aside>
